<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>
  <!-- End of Sidebar Toggle (Topbar) -->

  <%= render partial: "layouts/template/topbar/search" %>
  <%= render partial: "layouts/template/topbar/navbar" %>
</nav>
<!-- End of Topbar -->