<!-- Topbar Navbar -->
<ul class="navbar-nav ml-auto">
  <%= render partial: "layouts/template/topbar/dropdown/search" %>
  <%= render partial: "layouts/template/topbar/dropdown/alerts" %>
  <%= render partial: "layouts/template/topbar/dropdown/messages" %>

  <div class="topbar-divider d-none d-sm-block"></div>
  <%= render partial: "layouts/template/topbar/dropdown/information" %>
</ul>
<!-- End of Topbar Navbar -->