<!--
<div class="row">
  <div class="col-md-4">
    <div class="dropzone pdf dropzone-default dz-clickable border-pdf-dropzone" data-controller="dropzone" data-dropzone-max-file-size="5" data-dropzone-max-files="1" style="text-align: center" data-dropzone-accepted-files="application/pdf">
      <input type="text" id="name" name="name" required minlength="4" maxlength="8" size="10">
      <= f.file_field :file_pdf, direct_upload: true, data: { target: 'dropzone.input' }, accept: "application/pdf" %>
      <div class="dropzone-msg dz-message needsclick text-gray-600">
        <= image_tag("pdf.png", height: '100', width: '', style: 'opacity: 60%;')%>
        <br>
        <strong><span class="dropzone-msg-desc text-sm">Arrastrar y Soltar .pdf</span></strong>
      </div>
    </div>
  </div>
</div>
-->


<!--
<div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="5" data-dropzone-max-files="1" style="text-align: center" data-dropzone-accepted-files="application/pdf">

  <div class="dropzone-msg dz-message needsclick text-gray-600">
    <%= image_tag("pdf.png", height: '100', width: '', style: 'opacity: 60%;')%>
    <h3 class="dropzone-msg-title">Drag here to upload or click here to browse</h3>
    <span class="dropzone-msg-desc text-sm">2 MB file size maximun. Allowed file types png, jpg.</span>
    <strong><span class="dropzone-msg-desc text-sm">Arrastrar y Soltar .pdf</span></strong>
  </div>
</div>
-->
