<!-- Divider -->
<hr class="sidebar-divider my-0">

<!-- Nav Item - Dashboard -->
<li class="<%= is_home_active %>">
  <%=link_to root_path, class: "nav-link" do %>
    <i class="fas fa-home"></i>
    <span> INICIO </span>
  <% end %>
</li>