/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "startbootstrap-sb-admin-2/css/sb-admin-2";
@import "startbootstrap-sb-admin-2/node_modules/bootstrap/dist/css/bootstrap";
@import "startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all";

@import "@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4";

@import "datatables.net-bs/css/dataTables.bootstrap";

@import "datatables.net-buttons-bs4/css/buttons.bootstrap4";

@import "select2/dist/css/select2";

@import "datatables.net-responsive-bs4/css/responsive.bootstrap4";

@import "sweetalert2/dist/sweetalert2";

@import "bootstrap-tooltip-custom-class/bootstrap-v4/popover/dist/css/bootstrap-popover-custom-class";
@import "bootstrap-tooltip-custom-class/bootstrap-v4/tooltip/dist/css/bootstrap-tooltip-custom-class";

//@import "chart.js/dist/Chart";

@import "dropzone/dist/dropzone";
@import "dropzone/dist/basic";

@import "trix/dist/trix";
@import "./actiontext.scss";

@import "font_awesome5_webfont";
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

@import "./wizard_form.scss";

//@import url('https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css');

/*estilos para la tabla*/
table th {
  background-color: #5c78f8 !important;
  color: white;
}

table>tbody>tr>td {
  vertical-align: middle !important;
}

td.highlight {
  background-color: whitesmoke !important;
}

/*MEJORAS DE ESTILOS DEL TEMPLATE*/
.sidebar-dark .nav-item.active .nav-link {
  color: #ffc107 !important;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
  color: rgb(92, 120, 248) !important;
  font-weight: 700;
  background-color: #fddb85 !important;
}

.scroll-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  color: #fff;
  background: rgb(121, 138, 209);
  line-height: 46px;
}

.scroll-to-top:hover {
  background: rgba(92, 120, 248, 1);
}

.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: calc(1.5em + 0.75rem);
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  content: "Seleccionar";
  background-color: #e9ecef;
  border-left: inherit;
  border-radius: 0 0.25rem 0.25rem 0;
}

.progress {
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  line-height: 0;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #0db02b !important;
  transition: width 0.6s ease;
}